$ff: "Plus Jakarta Sans", sans-serif;

$dark-green-color: #13183f;
$main-link-color: #f74780;
$text-color: #83869a;
$main-background: linear-gradient(180deg, #ff6f48 0%, #f02aa6 100%);
$white-color: #ffffff;
$background-color: linear-gradient(180deg, #fff 0%, #f0f1ff 100%);
$footer__btn: linear-gradient(180deg, #4851ff 0%, #f02aa6 100%);
